* {
  font-family: "Roboto", sans-serif;
}
/* Het lettertype roboto op alles toegepast */

h1,
h2,
p,
a,
h4,
label,
h3,
h5,
input,
::placeholder {
  background: linear-gradient(to top, #b0e0e6, #147fd6);
  color: transparent;
  background-clip: text;
}
/* Gradiënt toegepast op vrijwel alle soorten tekst */

body {
  background-image: linear-gradient(to top, #030715, #091f3d);
}
/* Gradiënt toegepast op de hele body */

/* Header */
header {
  height: 100px;
  width: auto;
  background-color: #080e26;
  margin: -7px;
}
/* Gezorgd dat de header over de hele top gaat */

nav {
  height: 100px;
  width: 600px;
}

header a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 70px;
  margin: 30px;
}
/* De onderdelen van de header in het midden gezet */

/* Index Pagina */
.intro {
  position: absolute;
  bottom: 5%;
  height: 35vw;
}
/* Position absolute zodat de intro over de afbeeldingen kan */

/* About Pagina */
#about-intro {
  width: 75%;
  display: flex;
  flex-direction: column;
}
/* Flex direction column om de onderdelen onder elkaar te zetten */

.about-pfp {
  width: 55%;
  height: auto;
}

#pfp {
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
}

.intro-about {
  font-size: 32px;
  font-weight: lighter;
  width: 47vw;
}

#preview-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-column-gap: 40px;
  padding: 20px;
}
/* Grid die de afbeeldingen naast elkaar zet in de breedte */

#about-more {
  display: flex;
  align-items: end;
  flex-direction: column;
  width: 360px;
  height: 360px;
  padding-top: 15px;
}
/* De knop op de goede plek zetten */

#more {
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(#ffffff, #89fdff);
  color: transparent;
  background-clip: text;
  margin-top: 10px;
  margin-right: -1px;
}
/* Knop waarmee je naar de work pagina kan gaan om
meer voorbeelden van mijn werk te zien */

#more:hover {
  color: #ffffff;
  font-weight: bolder;
}
/* Als je over de knop heen gaat wordt hij wit en dikgedrukt */

#spacing {
  height: 5vw;
}
/* Ruimte te zetten tussen onderdelen met position absolute en relative */

.about-flex {
  flex-direction: column;
  text-align: center;
}

/* Work Pagina */
#work-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
/* De hele work pagina ingedeeld met grid */

#intro-work {
  position: absolute;
  bottom: 5%;
  height: 35vw;
}
/* Zelfde als intro met position absolute over de
afbeeldingen gezet, maar met andere afmetingen */

#work-grids {
  grid-area: 2 / 1 / 5 / 3;
}

.work-grid {
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  column-gap: 40px;
  padding-bottom: 40px;
}
/* Hier heb ik een deel op de work pagina ingedeeld met grid */

.work-download {
  width: 400px;
  height: 275px;
  background-color: #091f3d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 60px;
}
/* Hier heb ik de stijl voor de download link van mijn projecten */

h3 {
  font-size: 30px;
  padding: 10px;
  margin-bottom: -20px;
}
/* Hier heb ik de grootte van de h3 teksten wat aangepast */

h5 {
  font-size: 20px;
  padding: 10px;
}
/* Hier heb ik ook de grootte aangepast van deze teksten */

.download-link {
  color: #0047fe;
  padding-bottom: 20px;
}

/* Contact Pagina */
#contact-page {
  overflow-x: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
/* Hier heb ik overflow x hidden gebruikt om de balk onderaan
de pagina die van links naar rechts gaan te verwijderen */

#wires-grid {
  height: 20vw;
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  justify-content: flex-start;
}
/* Hier heb ik de wires image ingedeeld met grid op de pagina */

#intro-contact {
  position: absolute;
  bottom: 40%;
  height: 20vw;
}
/* Hierh heb ik position absolute gebruikt om te zorgen dat
de tekst over de afbeeldingen heen kan */

form {
  position: relative;
  bottom: 30%;
  padding-top: 20px;
  width: 98.9vw;
  flex-direction: column;
}
/* Hier heb ik position relative gebruikt om deze
forum waar je informatie in kunt vullen goed neer te zetten */

input {
  width: 400px;
  height: 50px;
  border: #00fbff;
  border-style: solid;
  border-width: 4px;
  border-radius: 15px;
  margin-bottom: 20px;
  caret-color: #147fd6;
  text-indent: 10px;
}
/* Dit is het deel dat je invult in de form */

.contact-verzenden {
  margin-top: 40px;
  font-size: 20px;
}
/* Dit is de verzend knop onderaan de form */

.contact-verzenden:hover {
  animation: bounce-in 0.5s ease;
  box-shadow: 0 0 20px #00fbff;
  transition: 600ms;
  cursor: pointer;
}
/* Dit is wat je ziet als je over de verzend komtheen gaan.
Zo krijg je dus een bounce in animatie van de knop en veranderd je cursor */

/* Footer */
footer {
  margin: -7px;
  background-color: #060d21;
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
/* Dit is de footer die voorkomt onderaan elke pagina ingedeeld met grid */

footer div {
  display: flex;
  justify-content: space-evenly;
}
/* Dit is om alle divs in de footer gelijk te verdelen */

.section-contact,
.section-contact2 {
  display: flex;
  flex-direction: column;
}
/* Ik heb hier 2 verschillende klasses gebruikt, omdat ik
bij de media query ze andere css heb gegeven */

.section-contact {
  grid-area: 1 / 2 / 2 / 2;
}

p {
  padding: 20px;
  padding-left: 42px;
  font-size: 35px;
  width: 20vw;
}
/* Dit wat ruimte om de tekst p te zetten met padding */

.footer-contact {
  margin-left: 40px;
  border-color: #00fbff;
  border-width: 4px;
  border-style: solid;
  width: 190px;
  height: 50px;
  margin-top: -20px;
}
/* Dit is de stijl van de contact mij knop in de footer */

.footer-contact:hover {
  border-radius: 3px;
  animation: bounce-in 0.5s ease;
  box-shadow: 0 0 20px #00fbff;
  transition: 600ms;
}
/* Dit is de hover van de contact mij knop */

footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 23px;
  text-decoration: none;
}
/* Dit is om de links goed te positioneren in de footer */

footer h4 {
  padding-top: 20px;
  padding-left: 40px;
  color: #607578;
}
/* Hier heb ik de tekst voor de ©️ een kleur gegeven en goed neer gezet */

.footer-align1 {
  grid-area: 1 / 8 / 2 / 5;
}

.footer-line {
  background-color: #3c4868;
  width: 4px;
  height: 80%;
  margin: 25px;
}
/* Dit is de div wat een lijn voor delen in de footer is */

.footer-align2 {
  grid-area: 1 / 10 / 2 / 8;
}

i {
  color: #7eaed5;
}
/* Hier heb ik kleur gegeven aan alle iconen */

.flex-center {
  display: flex;
  justify-content: center;
}
/* Deze klasse heb ik vaker gebruikt om elementen in het midden te zetten */

.footer-hover:hover,
header a:hover {
  border-radius: 3px;
  animation: bounce-in 0.5s ease;
  box-shadow: 0 0 10px #00fbff;
  transition: 600ms;
}
/* Hier zorg ik dat er bij de footer en header een bounce in animatie
is als je er overheen gaat met je cursor */

.align-items-center {
  display: flex;
  align-items: center;
}
/* Deze klasse heb ik ook vaker gebruikt om onderdelen verticaal in het midden te zetten */

.text-align-center {
  text-align: center;
}
/* Deze heb ik ook vaker gebruikt om de text te centreren */

@keyframes bounce-in {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* Dit zorgt voor de bounce in animatie bij sommige hovers */

h1 {
  font-size: 72px;
  background: linear-gradient(#00fbff, rgba(0, 117, 255, 0));
  background-clip: text;
}
/* Hier heb ik een gradient op de tekst gezet die op elke
pagina als titel gebruikt wordt */

h2 {
  font-size: 40px;
}
/* De grootte van de tekst h2 wat aangepast */

main h4 {
  font-size: 20px;
  width: 40vw;
}

.introductie {
  font-size: 32px;
  font-weight: lighter;
  width: 45vw;
}
/* De font weight ligter gemaakt zodat de titel meer opvalt
met tekst die meer dikgedrukt is */

.wires-rotated {
  top: 100px;
  margin-top: 5px;
  margin-left: -7px;
}
/* De afbeelding van de wires naar onderen geduwd met top */

.work-preview {
  width: 360px;
  height: 360px;
  border-radius: 20px;
}
/* De grootte van de afbeeldingen van delen van mijn
werk hetzelfde gemaakt en een beetje een ronding gegeven */

main div {
  width: 98.4vw;
}

section {
  width: 98.4vw;
}
/* De breedte van alle secties zo breed gemaakt dat het geen
balk onderaan geeft om van links naar rechts te bewegen */

.wires-section {
  display: flex;
  justify-content: flex-start;
  height: 20vw;
}
/* Afbeelding van wires neergezet */

.wires-section-change {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  height: 20vw;
}
/* De wat andere afbeelding van wires neergezet */

.wires-alignment {
  display: flex;
  justify-content: end;
  height: 20vw;
}

@media screen and (max-width: 600px) {
  /* Als de breedte van het scherm kleiner is dan 600px
  en dus sowieso op telefoon dan past het sommige dingen aan */
  h1 {
    font-size: 45px;
  }
  /* Tekst kleiner gemaakt dan de normale */

  body {
    overflow-x: hidden;
  }
  /* Gezorgd voor geen balk onderaan */

  .footer-hover {
    display: none;
  }
  /* Weggehaald, omdat het op telefoon anders ingedeeld is */

  .wires-alignment {
    display: none;
  }
  /* Deze ook weggehaald */

  #intro-contact {
    bottom: 70%;
    width: 95%;
  }
  /* Intro maar kleiner zodat het er beter uitziet op telefoon */

  #work-grids {
    transform: translateY(17%);
    grid-area: 2/ 1 / 5 / 3;
  }
  /* De grid wat aangepast zodat het onder elkaar staat */

  .contact-grids {
    grid-area: 2/ 1 / 5 / 4;
  }
  /* De grid wat aangepast zodat het onder elkaar staat */

  .intro {
    position: relative;
    bottom: 10%;
  }
  /* Position veranderd om het beter te positioneren voor telefoon */

  #intro-work {
    position: relative;
    bottom: 0%;
  }
  /* Position veranderd om het beter te positioneren voor telefoon */

  #index-main {
    height: 70vh;
  }
  /* Height kleiner gemaatk */

  .about-intro-align {
    flex-direction: column;
    padding-top: 20px;
  }
  /* Onder elkaar gezet met column */

  #work-align {
    display: flex;
    justify-content: center;
  }

  #work-page {
    grid-template-rows: repeat(1, 1fr);
  }
  /* In een rij onder elkaar gezet */

  input {
    width: 300px;
    height: 50px;
    border: #00fbff;
    border-style: solid;
    border-width: 4px;
    margin-bottom: 20px;
  }
  /* De grootte van de input verkleint */

  #preview-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
  }
  /* Grid neegezet zodat het past op een telefoon scherm */

  .work-preview {
    justify-self: center;
  }
  /* In het midden gezet */

  #about-more {
    justify-self: center;
    padding-top: 40px;
  }
  /* In het midden gezet en padding aangepast */

  .work-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 40px;
  }
  /* Grid weer neegezet zodat het past op een telefoon scherm */

  .about-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
  }
  /* Grid weer neegezet zodat het past op een telefoon scherm */

  main h4 {
    font-size: 20px;
    width: 70vw;
    text-align: center;
  }
  /* Tekst kleiner gemaakt */

  #wires-about {
    display: none;
  }
  /* Verwijderd omdat het niet goed past op telefoon scherm */

  .footer-line {
    display: none;
  }
  /* Weggehaald omdat het anders is ingedeeld */

  header {
    width: 104%;
  }
  /* Breedte aangepast */

  .footer-contact {
    width: 40%;
    margin: 0;
  }

  .section-contact {
    align-items: center;
  }

  p {
    text-align: center;
    padding: 0;
    padding-bottom: 10px;
    width: 24vw;
    justify-content: center;
    font-size: 20px;
  }
  /* Kleiner gemaakt en padding minder */

  footer h4 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
  }
  /* Padding verminderd */

  header a {
    font-size: 20px;
    height: 35px;
    margin: 0 10px;
  }
  /* Kleiner gemaakt */

  footer {
    transform: translateY(30%);
    height: 74vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  /* Breedte kleiner gemaakt en anders gepositioneerd */

  #work-footer {
    background-color: transparent;
    transform: translateY(40%);
    height: 170vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  /* Breedte aangepast en anders gepositioneerd */

  .section-contact2 {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    gap: 20px;
  }
  /* Anders ingedeeld met flex en padding kleiner gemaakt */

  .section-contact i {
    padding: 20px;
  }
  /* Padding verminderd */

  #contact-intro {
    font-size: 28px;
    height: 100px;
  }
  /* Tekst verkleind */

  .intro-about {
    font-size: 28px;
    width: 98%;
  }
  /* Tekst en breedte verkleind */

  .introductie {
    width: 70vw;
    font-size: 28px;
  }
  /* Tekst en breedte verkleind */

  #pfp {
    width: 20vw;
    height: auto;
  }
  /* Breedte kleiner gemaakt */
}
