* {
  font-family: "Roboto", sans-serif;
}
/* Het lettertype roboto op alles toegepast */

h1,
h2,
p,
a,
h4,
label,
h3,
h5,
input,
::placeholder {
  background: linear-gradient(to top, #b0e0e6, #147fd6);
  color: transparent;
  background-clip: text;
}
/* Gradiënt toegepast op vrijwel alle soorten tekst */

body {
  background-image: linear-gradient(to top, #030715, #091f3d);
}
/* Gradiënt toegepast op de hele body */

/* Header */
header {
  height: 100px;
  width: auto;
  background-color: #080e26;
  margin: -7px;
}
/* Gezorgd dat de header over de hele top gaat */

nav {
  height: 100px;
  width: 600px;
}

header a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 70px;
  margin: 30px;
}
/* De onderdelen van de header in het midden gezet */

/* Index Pagina */
.intro {
  position: absolute;
  bottom: 5%;
  height: 35vw;
}
/* Position absolute zodat de intro over de afbeeldingen kan */

/* About Pagina */
#about-intro {
  width: 75%;
  display: flex;
  flex-direction: column;
}
/* Flex direction column om de onderdelen onder elkaar te zetten */

.about-pfp {
  width: 55%;
  height: auto;
}

#pfp {
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
}

.intro-about {
  font-size: 32px;
  font-weight: lighter;
  width: 47vw;
}

#preview-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 40px;
  padding: 20px;
}
/* Grid die de afbeeldingen naast elkaar zet in de breedte */

#about-more {
  display: flex;
  align-items: end;
  flex-direction: column;
  width: 360px;
  height: 360px;
  padding-top: 15px;
}
/* De knop op de goede plek zetten */

#more {
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(#ffffff, #89fdff);
  color: transparent;
  background-clip: text;
  margin-top: 10px;
  margin-right: -1px;
}
/* Knop waarmee je naar de work pagina kan gaan om
meer voorbeelden van mijn werk te zien */

#more:hover {
  color: #ffffff;
  font-weight: bolder;
}
/* Als je over de knop heen gaat wordt hij wit en dikgedrukt */

#spacing {
  height: 5vw;
}
/* Ruimte te zetten tussen onderdelen met position absolute en relative */

.about-flex {
  flex-direction: column;
  text-align: center;
}

/* Work Pagina */
#work-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
/* De hele work pagina ingedeeld met grid */

#intro-work {
  position: absolute;
  bottom: 5%;
  height: 35vw;
}
/* Zelfde als intro met position absolute over de
afbeeldingen gezet, maar met andere afmetingen */

#work-grids {
  grid-area: 2 / 1 / 5 / 3;
}

.work-grid {
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  column-gap: 40px;
  padding-bottom: 40px;
}

.work-download {
  width: 400px;
  height: 275px;
  background-color: #091f3d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 60px;
}

h3 {
  font-size: 30px;
  padding: 10px;
  margin-bottom: -20px;
}

h5 {
  font-size: 20px;
  padding: 10px;
}

.download-link {
  color: #0047fe;
  padding-bottom: 20px;
}

/* Contact Pagina */
#contact-page {
  overflow-x: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#wires-grid {
  height: 20vw;
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

#intro-contact {
  position: absolute;
  bottom: 40%;
  height: 20vw;
}

form {
  position: relative;
  bottom: 30%;
  padding-top: 20px;
  width: 98.9vw;
  flex-direction: column;
}

input {
  width: 400px;
  height: 50px;
  border: #00fbff;
  border-style: solid;
  border-width: 4px;
  border-radius: 15px;
  margin-bottom: 20px;
  caret-color: #147fd6;
  text-indent: 10px;
}

.contact-verzenden {
  margin-top: 40px;
  font-size: 20px;
}

.contact-verzenden:hover {
  animation: bounce-in 0.5s ease;
  box-shadow: 0 0 20px #00fbff;
  transition: 600ms;
  cursor: pointer;
}

/* Footer */
footer {
  margin: -7px;
  background-color: #060d21;
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

footer div {
  display: flex;
  justify-content: space-evenly;
}

.section-contact,
.section-contact2 {
  display: flex;
  flex-direction: column;
}

.section-contact {
  grid-area: 1 / 2 / 2 / 2;
}

p {
  padding: 20px;
  padding-left: 42px;
  font-size: 35px;
  width: 20vw;
}

.footer-contact {
  margin-left: 40px;
  border-color: #00fbff;
  border-width: 4px;
  border-style: solid;
  width: 190px;
  height: 50px;
  margin-top: -20px;
}

.footer-contact:hover {
  border-radius: 3px;
  animation: bounce-in 0.5s ease;
  box-shadow: 0 0 20px #00fbff;
  transition: 600ms;
}

footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 23px;
  text-decoration: none;
}

footer h4 {
  padding-top: 20px;
  padding-left: 40px;
  color: #607578;
}

.footer-align1 {
  grid-area: 1 / 8 / 2 / 5;
}

.footer-line {
  background-color: #3c4868;
  width: 4px;
  height: 80%;
  margin: 25px;
}

.footer-align2 {
  grid-area: 1 / 10 / 2 / 8;
}

i {
  color: #7eaed5;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.footer-hover:hover,
header a:hover {
  border-radius: 3px;
  animation: bounce-in 0.5s ease;
  box-shadow: 0 0 10px #00fbff;
  transition: 600ms;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.text-align-center {
  text-align: center;
}

@keyframes bounce-in {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

h1 {
  font-size: 72px;
  background: linear-gradient(#00fbff, rgba(0, 117, 255, 0));
  background-clip: text;
}

h2 {
  font-size: 40px;
}

main h4 {
  font-size: 20px;
  width: 40vw;
}

.introductie {
  font-size: 32px;
  font-weight: lighter;
  width: 45vw;
}

.wires-rotated {
  top: 100px;
  margin-top: 5px;
  margin-left: -7px;
}

.work-preview {
  width: 360px;
  height: 360px;
  border-radius: 20px;
}

main div {
  display: flex;
  justify-content: center;
}

section {
  width: 98.4vw;
}

.wires-section {
  display: flex;
  justify-content: flex-start;
  height: 20vw;
}

.wires-section-change {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  height: 20vw;
}

.wires-alignment {
  display: flex;
  justify-content: end;
  height: 20vw;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 45px;
  }

  body {
    overflow-x: hidden;
  }

  .footer-hover {
    display: none;
  }

  .wires-alignment {
    display: none;
  }

  #intro-contact {
    bottom: 70%;
    width: 95%;
  }

  #work-grids {
    transform: translateY(17%);
    grid-area: 2/ 1 / 5 / 3;
  }

  .contact-grids {
    grid-area: 2/ 1 / 5 / 4;
  }

  .intro {
    position: relative;
    bottom: 10%;
  }

  #intro-work {
    position: relative;
    bottom: 0%;
  }

  #index-main {
    height: 70vh;
  }

  .about-intro-align {
    flex-direction: column;
    padding-top: 20px;
  }

  #work-align {
    display: flex;
    justify-content: center;
  }

  #work-page {
    grid-template-rows: repeat(1, 1fr);
  }

  input {
    width: 300px;
    height: 50px;
    border: #00fbff;
    border-style: solid;
    border-width: 4px;
    margin-bottom: 20px;
  }

  #preview-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
  }

  .work-preview {
    justify-self: center;
  }

  #about-more {
    justify-self: center;
    padding-top: 40px;
  }

  .work-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 40px;
  }

  .about-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
  }

  main h4 {
    font-size: 20px;
    width: 70vw;
    text-align: center;
  }

  #wires-about {
    display: none;
  }

  .footer-line {
    display: none;
  }

  header {
    width: 104%;
  }

  .footer-contact {
    width: 40%;
    margin: 0;
  }

  .section-contact {
    align-items: center;
  }

  p {
    text-align: center;
    padding: 0;
    padding-bottom: 10px;
    width: 24vw;
    justify-content: center;
    font-size: 20px;
  }

  footer h4 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
  }

  header a {
    font-size: 20px;
    height: 35px;
    margin: 0 10px;
  }

  footer {
    transform: translateY(30%);
    height: 74vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #work-footer {
    background-color: transparent;
    transform: translateY(40%);
    height: 170vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .section-contact2 {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    gap: 20px;
  }

  .section-contact i {
    padding: 20px;
  }

  #contact-intro {
    font-size: 28px;
    height: 100px;
  }

  .intro-about {
    font-size: 28px;
    width: 98%;
  }

  .introductie {
    width: 70vw;
    font-size: 28px;
  }

  #pfp {
    width: 20vw;
    height: auto;
  }
}
